body {
    background-color: #f1f4f9;
    margin: 0;
    padding-right: 172px;
    padding-left: 125px;
    font-family: sans-serif;
}

.container {
    max-width: 1210px;
    margin: 0 auto;
}

@media (max-width: 768px) {
    body {
        padding-right: 15px;
        padding-left: 15px;
    }
}

@media (max-width: 480px) {
    body {
        padding-right: 10px;
        padding-left: 10px;
    }
}

@media (max-width: 390px) {
    body {
        padding-right: 8px;
        padding-left: 8px;
    }
}
